.App {
  text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}

.err-msg
{
  display: grid;
  place-items: center;
  color: crimson;
}

.success-msg
{
  display: grid;
  place-items: center;
  color:green;
}

.light
{
  color: white;
}

.bg
{
  background-color:black;
  
}

.heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:aqua;
}

.side-heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:coral;
}


.mailid
{
  color:aqua;
}


.hover-effect1:hover {
 color:lawngreen
}



 .paras
 {
  text-overflow:ellipsis;
 }