.App {
  text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}


.light
{
  color: white;
}

.bg
{
  background-color:black;
  
}

.heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:aqua;
}

.side-heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:coral;
}


.mailid
{
  color:aqua;
}

.projects
{
  color:yellow
}

.bullet-list {
  list-style-type: disc; 
}

.link
{
  padding-top: 150px;
  color: blue;
}
 .paras
 {
  text-overflow:ellipsis;
 }

 .img-s
 {
  max-width: 100%;
  height: 100%;
 }