.App {
  text-align: center;
}

.forms{
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
}


.light
{
  color: white;
}

.bg
{
  background-color:black;
  
}

.introduction
{
  color:blanchedalmond
}

.heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:aqua;
}



.side-heading
{
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color:coral;
}


.mailid
{
  color:aqua;
}

.projects
{
  color:yellow
}

.bullet-list {
  list-style-type: disc; 
}

.link
{
  padding-top: 150px;
  color: blue;
}
 .paras
 {
  text-overflow:ellipsis;
 }

 .hover-p p:hover
 {
  font-size: 105%;
 }

 .project-img img:hover
 {
  transform: scale(1.1);
 }

 .img-m
 {
  transform-style: preserve-3d;
  animation: move 5s ease-in infinite;
 }

.skills-img
{
  transform-style: preserve-3d;
  animation:move 5s linear infinite;
}@keyframes move {
  50% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-600deg);
  }
}

.tech2{
  animation: move 20s ease-in-out infinite;
} @keyframes move {
  50% {
    transform: rotateY(30deg);
  }80% {
    transform: rotateY(-10deg);
  }
  
  
}

